<!DOCTYPE html>
<html>
  <head>
    <title>Moe's Kombucha</title>
  </head>
  <body>
    <form action="/customer_home/{{id}}" method="post">
        <button type="submit">Edit Profile!</button>
    </form>
  </body>
</html>
