<html>
  <head>
    <title>Moe's Kombucha</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">


      <form action="/product_order" method="post">
        <input type="hidden" name="product_name" value="15 gallon keg">
        <input type="hidden" name="product_price" value="22">
        <input type="text" name="product_name">
        <label for="quantity">Quantity:</label>
        <button type="submit">Submit!</button>

      </form>
      <form action="/product_order" method="post">
        <input type="hidden" name="product_name" value="30_gallon_keg">
        <input type="hidden" name="product_price" value="30">
        <label for="quantity">Quantity:</label>
        <button type="submit">Submit!</button>
      </form>
      <form action="/product_order" method="post">
        <input type="hidden" name="product_name" value="60_gallon_keg">
        <input type="hidden" name="product_price" value="40">
        <label for="quantity">Quantity:</label>
        <button type="submit">Submit!</button>
      </form>

      {% if products is not empty %}
        {% for product in products %}
        {{ product.getPrice }}
        {% endfor %}
      {% endif %}



      </div>
    </div>

  </body>
</html>
