<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Moe's Kombucha</title>
  </head>
  <body>
    <div class="container-fluid">


<!-- <div class="">
///picture name and price

</div> -->

<div class="row">
<!-- div for small keg -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Baby keg</h3>
      </div>
      <div class="panel-body">
        <img src="" alt="">
        <ul>
          <li>$100</li>
          <li>Estimated Serving Size: 200 16 oz.</li>
        </ul>
        <form action="/product_order" method="post">
          <input type="hidden" name="product_name" value="15_gallon_keg">
          <input type="hidden" name="product_price" value="100">
          <button type="submit">Add to cart!</button>
        </form>
      </div><!-- closing panel bodydiv -->
    </div>
  </div><!-- closing small keg div -->

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Momma Keg</h3>
      </div>
      <div class="panel-body">
        <img src="" alt="">
        <ul>
          <li>$150</li>
          <li>Estimated Serving Size: 400 16 oz.</li>
        </ul>
        <form action="/product_order" method="post">
          <input type="hidden" name="product_name" value="30_gallon_keg">
          <input type="hidden" name="product_price" value="150">
          <button type="submit">Add to cart!</button>
        </form>
      </div><!-- closing panel bodydiv -->
    </div>
  </div><!-- closing medium keg div -->

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Big Daddy Keg</h3>
      </div>
      <div class="panel-body">
        <img src="" alt="">
        <ul>
          <li>$200</li>
          <li>Estimated Serving Size: 600 16 oz.</li>
        </ul>
        <form action="/product_order" method="post">
          <input type="hidden" name="product_name" value="60_gallon_keg">
          <input type="hidden" name="product_price" value="200">
          <button type="submit">Add to cart!</button>
        </form>

      </div><!-- closing panel bodydiv -->
    </div>
  </div><!-- closing large keg div -->
</div><!-- closing row div -->


      {% if products is not empty %}
        {% for product in products %}
        {{ product.getPrice }}
        {% endfor %}
      {% endif %}



      </div><!-- closing for container -->


  </body>
</html>
