/*blue: #42A4C5 - shade: #2a7189 - tint: #76bdd5 - paler tint: #ebf6f9;
sea green: #7EB49C;
kelly green: #2F855E;
pale sea green: #D0E8DA;
white: #FFFFFF;
*/

/*font-family: 'Nixie One', cursive;
font-family: 'Raleway', sans-serif; *
font-family: 'Bubbler One', sans-serif; **
font-family: 'El Messiri', sans-serif;
font-family: 'Syncopate', sans-serif; FAT ONE **
font-family: 'Open Sans Condensed', sans-serif; **
font-family: 'Lobster', cursive;
font-family: 'Arima Madurai', cursive;
font-family: 'PT Sans Narrow', sans-serif; *
font-family: 'Crushed', cursive;*/
body {
    font-size: 2rem;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crushed', sans-serif;
    font-weight: 500;
    color: #42A4C5;
}

a {
    font-family: 'Syncopate', sans-serif;
    color: #ffffff;
}

a:hover {
    font-family: 'Syncopate', sans-serif;
    color: #d8ecf3;
}

button {
    background-color: #42A4C5;
    color: #ffffff;
    border: 2px solid #42A4C5;
}

button:hover {
    background-color: #76bdd5;
    color: #ffffff;
    border: 2px solid #76bdd5;
}

.container-fluid {
    padding: 0 0 0 0;
}

header {
    margin: 0 0 0 0;
}

.nav {
    height: 3rem;
    background-color: #42A4C5;
    color: #ffffff;
}

nav a {
    font-family: 'Syncopate', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}

ul.navbar {
    margin: 0 0 0 0;
}

li.nav-item {
    margin: 0 17.5rem 0 4.5rem;
}

.outside-container {
    background-image: url("/img/waves_sm.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.outside-container .row {
    padding: 0 0 8rem 4.5rem;
}

.container-main {
    padding: 4rem 0 0 0;
}

.sidebar h1, .sidebar h2 {
    font-family: 'Crushed', sans-serif;
    font-weight: 300;
    color: #7EB49C;
}

.sidebar h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    color: #000000;
}

.sidebar h4, .sidebar h5, .sidebar h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    color: #7EB49C;
}

footer {
    background-color: #42A4C5;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    padding: 0 0 4rem 0;
}

.footer-container {
    margin: 0 4rem 0 4.5rem;
}

footer a {
    font-family: 'Syncopate', sans-serif;
    color: #d8ecf3;

}


/*invoice styling*/
/*.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}*/

.invoice {
    /*margin-left: 5rem;*/
}

.panel-container {
    text-align: center;
    margin: auto;
}

.panel .panel-heading {
    background-color: #ebf6f9;
}

.invoice-header, .panel, .confirmation {
    width: 85%;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

td {
    text-align: left;
}

.confirmation {
    text-align: right;
}
